.sidebar_wrapper {
  position: absolute;
  left: 100%;
}

.sidebar_panel {
  position: fixed;
  top: 8rem;
  opacity: 1;
  transition: all 0.5s ease;
  margin-left: 3rem;
  box-shadow: var(--shadow);
  border-radius: 12px;
  background-color: var(--color-bg-inside);
  padding: 1rem 1.5rem;
  width: 8rem;
  font-weight: var(--font-w-bold);
  list-style: none;

  @media (max-width: 1440px) {
    transform: translateX(1.5rem);
    opacity: 0;
    pointer-events: none;
  }
}

.sidebar_item {
  --sidebar-flip: cubic-bezier(0.8, -0.4, 0.5, 1);
  display: flex;
  position: relative;
  flex-direction: column;
  transition: all 0.5s var(--sidebar-flip);
  cursor: pointer;
  height: 2rem;
  overflow: hidden;
  & span {
    transition: transform 0.5s var(--sidebar-flip);
    font-size: var(--font-s-md);
    line-height: 2rem;
  }
  & .text_base {
    transform: translateY(0%);
  }
  & .text_hover {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
  }
  &:hover .text_base {
    transform: translateY(-100%);
  }
  &:hover .text_hover {
    transform: translateY(0%);
  }
}
