.sidebar_container {
  position: fixed;
  top: 8rem;
  right: 3rem;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s ease;
  box-shadow: var(--shadow);
  border-radius: 12px;
  background-color: var(--color-sidebar-bg);

  padding: 15px 25px;
}
.sidebar_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar_item {
  --sidebar-flip: cubic-bezier(0.8, -0.4, 0.5, 1);
  display: flex;
  position: relative;
  flex-direction: column;
  transition: all 0.5s var(--sidebar-flip);
  cursor: pointer;
  height: 2rem;
  overflow: hidden;
  font-size: var(--fond-md);
  & span {
    transition: transform 0.5s var(--sidebar-flip);
    line-height: 2rem;
  }
  & .text_base {
    transform: translateY(0%);
  }
  & .text_hover {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
  }
  &:hover .text_base {
    transform: translateY(-100%);
  }
  &:hover .text_hover {
    transform: translateY(0%);
  }
}

@media (max-width: 1024px) {
  .sidebar_container {
    transform: translateX(1.5rem);
    opacity: 0;
    pointer-events: none;
  }
}
